.background {
    -fx-background-color: #2e4662;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-column {
    -fx-alignment: center;
}

.menu-bar {
    -fx-background-color: #2e4662;
}

.context-menu {
    -fx-background-color: derive(#2e4662,50%);
}

.menu-bar .label {
    -fx-font-size: 10pt;
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

.button-show {
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 20px;
}

.button-show:hover {
    -fx-background-color: derive(-fx-focus-color,30%);
}

.button-show:pressed {
    -fx-background-color: white;
}

#button-list {
    -fx-background-image: url("/images/list_20.png");
}

#button-table {
    -fx-background-image: url("/images/table_202.png");
}

#button-picture {
    -fx-background-image: url("/images/picture_20.png");
}

.list-cell {
    -fx-alignment: center;
}